<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/components :: header"></head>
<nav th:insert="fragments/components :: navbar"></nav>

        <!-- create a new Recipe -->
<div class="createRecipe">
<form action="#" th:action="@{/saveRecipe}" method="POST">
<!--    <label for="recipeName">Recipe Name</label>-->
<!--    <input type="text" id="recipeName" name="RecipeName" placeholder="Your recipe name..">-->

    <label for="ingredients">Ingredient</label>
    <input type="text" th:field="*{recipe.RecipeName}" id="ingredients" name="Ingredient" placeholder="Your ingredient..">

    <label for="quantity">Quantity</label>
    <input type="text" th:field="*{recipe.Ingredients}" id="quantity" name="Quantity" placeholder="Your quantity..">

    <input type="submit" value="Submit">
</form>
</div>
</html>

<style>
    .createRecipe{
        margin: 20px;
    }
</style>