<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/components :: header"></head>
<nav th:insert="fragments/components :: navbar"></nav>
<div class="recipeCollection">
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th scope="col">RecipeName</th>
<!--                </tr>-->
<!--            <tr>-->
                <th scope="col">Ingredients</th>
                <th scope="col">Quantity</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="recipe: ${recipe}">
                <td th:text="${recipe.recipeName}"></td>
            <tr th:each="ingredient: ${ingredient}">
                <td th:text="${ingredient.ingredientName}"></td>
                <td th:text="${ingredient.quantity}"></td>
            </tr>
<!--                <td th:text="${recipe.ingredients}"></td>-->
<!--                <td th:text="${recipe.Ingredients.quantity}"></td>-->
<!--            </tr>-->
        </tbody>
    </table>
</div>
</html>